{% load static %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}


  <nav class="navbar navbar-default bg-1">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'polls:index' %}">Hi {{ user.username }}!</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </div>
  </nav>

<div class="container-fluid">
	<div class="col-sm-4"></div>
	<div class="col-sm-4">

		<h1>{{ question.question_text }}</h1>

		{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}



		<form action="{% url 'polls:vote' question.id %}" method="post">
		{% csrf_token %}
		{% for choice in question.choice_set.all %}
		    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
		    <label class="btn " for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
		{% endfor %}
		<input type="submit" class="btn btn-primary btn-block" value="Vote" />
		<a href="{% url 'polls:index' %}">Go back to Polls</a>
		</form>
	</div>
	<div class="col-sm-4"></div>
</div>