
{% load static %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

  <nav class="navbar navbar-default bg-1">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Hi {{ user.username }}!</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </div>
  </nav>

<div class="container-fluid text-center">
  <div class="col-sm-4"></div>
  <div class="col-sm-4 pollscontainer" ">
      <h2 class = "text">Polls</h2>
      {% if latest_question_list %}
        <div class="list-group">
         {% for question in latest_question_list %}
               <a class="list-group-item" href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
          {% endfor %}
        </div>
      {% else %}
            <p>No polls are available.</p>
      {% endif %}
  </div>
  <div class="col-sm-4"></div>
</div>


