{% load static %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

  <nav class="navbar navbar-default bg-1">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'polls:index' %}">Hi {{ user.username }}!</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </div>
  </nav>
	
<div class="container-fluid text-center">
	<div class="col-sm-4"></div>
	<div class="col-sm-4">
		<h1>{{ question.question_text }}</h1>

		<ul class = "list-group">
		{% for choice in question.choice_set.all %}
		    <li class= "list-group-item">{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
		{% endfor %}
		</ul>

	<a href="{% url 'polls:index' %}">Go back to Polls</a>
	</div>
	<div class="col-sm-4"></div>
</div>