{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


{% if user.is_authenticated %}
	<p> you are already logged in </p>
	<p><a href="{% url 'polls:index' %}">Go to polls</a></p>
{% else %}
	<div class="container-fluid">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">

			<h2> login </h2>
			{# Display a form #}
			<form method="post" class="form">
			  {% csrf_token %}
			  {% bootstrap_form form %}
			  {% buttons %}
			    <button type="submit" class="btn btn-primary btn-block">Login</button>
			  {% endbuttons %}
			</form>
		</div>
		<div class="col-sm-4"></div>
	</div>
{% endif %}