<!-- templates/home.html -->
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<div class = "container-fluid text-center">
    <h1>polls app</h1>
	{% if user.is_authenticated %}
		<p>Hi {{ user.username }}</p>
		<a href="{% url 'polls:index' %}">Go to polls</a>
		<a href="{% url 'logout' %}">Log out</a>
	{% else %}
		<p><a href="{% url 'signup' %}">Sign Up</a></p>
		<p><a href="{% url 'login' %}">Log In </a></p>
	{% endif %}
</div>
