{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}


<div class="container-fluid">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">

		<h2> signup </h2>
		{# Display a form #}
		<form method="post" class="form">
		  {% csrf_token %}
		  {% bootstrap_form form %}
		  {% buttons %}
		    <button type="submit" class="btn btn-primary btn-block">Submit</button>
		  {% endbuttons %}
		</form>
	</div>
	<div class="col-sm-2"></div>
</div>

